  

  @import url('https://fonst.gogleapis.com/css2?family=Montserrat&display=swao');


body{
    font-family: 'Montserrat' seans-serif;
     overflow-x: hidden;

}

#navegador li > a{
font-size: 18px;
font-weight: bold;
color: #3f3f3f;
}

#navegador form > button{

    font-size: 18px;
    font-weight: bold;
}

.carousel-item{
    max-height: 39rem;
   
}







@media ( max-width:768px){
    #intro, #equipo{
        width: 90% !important;
    }
   .servicio-fila{
       width: 100%; !777important;
       text-align: center;
   }

}

@media (max-width: 576px){
    .icono-wrp{
        flex-wrap: wrap;
        justify-content: center !important;
    }
    
}